$utilities: map-merge(
  $utilities,
  (
    "rounded-top-left": (
      property: border-top-left-radius,
      class: rounded-top-left,
      values: (
        1: $border-radius-xl,
      ),
    ),
    "rounded-bottom-right": (
      property: border-bottom-right-radius,
      class: rounded-bottom-right,
      values: (
        1: $border-radius-xl,
      ),
    ),
  )
);
