<p class="container text-primary-400 text-center py-4 border-top border-neutral-300 d-none d-md-block">©Vivre 2024 All
    right
    Reserved</p>

<p class="text-primary-400 text-center py-4 border-top border-neutral-300 d-block d-md-none">©Vivre 2024 All right
    Reserved</p>