<nav class="navbar navbar-expand-lg py-0">
    <div class="container py-4 py-lg-6 border-bottom">
        <h1><a class="navbar-brand me-6" href="index.html">Vivre</a></h1>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="search collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex me-auto position-relative" role="search">
                <input class=" form-control rounded-pill me-2 " type="search" placeholder="搜尋文章" aria-label="Search">
                <a class="btn position-absolute end-0" type="submit"><i
                        class="bi bi-search text-accent-200 fs-4 me-1"></i></a>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0 gx-4">
                <li class="nav-item mt-5 mt-md-0">
                    <a class="nav-link text-neutral-500 px-4 me-4" href="article.html">所有文章</a>
                </li>
                <li class="nav-item mt-5 mt-md-0">
                    <a class="nav-link text-neutral-500 px-4 me-4" href="#">訂閱方案</a>
                </li>
                <li class="nav-item mt-5 mt-md-0">
                    <a class="nav-link text-neutral-500 px-4 me-4" href="#">關於我們</a>
                </li>
            </ul>
            <button class="btn btn-accent-200 text-white py-3 px-5" type="button">登入 / 註冊</button>
        </div>
    </div>
</nav>